


.login-container {
  width: 100%; /* Adjust as needed */
  max-width: 700px; /* Set a max width for the form */
  margin: 0 auto;
  padding: 110px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  min-height: 50vh;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 8px;
  font-weight: bold;
}

input[type="text"],
input[type="password"] {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
}

button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}
.login-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.forgot-password-link,
.signup-link {
  color: #007bff;
  text-decoration: none;
  font-size: 14px;
}

.forgot-password-link:hover,
.signup-link:hover {
  text-decoration: underline;
}
.login-status-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex
        position: relative;
        right: 0;
        min-width: 95px;
        color: #fff;
        border: 10px solid #000;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 43px;
        background: #000
}

