<div class="login-status-header">
  <h2>Login Page </h2>
</div>
<div class="login-container">
  <form (submit)="onLogin()">
    <!-- Username Field -->
    <label for="username">Username</label>
    <input [(ngModel)]="username" type="text" name="username" required />

    <!-- Password Field -->
    <label for="password">Password</label>
    <input [(ngModel)]="password" type="password" name="password" required />

    <!-- Login Button -->
    <button type="submit">Login</button>

    <!-- Forgot Password and Sign Up Links -->
    <!-- Forgot Password and Sign Up Links -->
    <div class="login-footer">
      <a [routerLink]="['/forgot-password']" class="forgot-password-link">Forgot Password?</a>
      <a [routerLink]="['/signup']" class="signup-link">Create Account</a>
    </div>
  </form>
</div>
